body{
    background-color: #627ffF;
    color: azure;
}
.container{
    display: grid;
    grid-template-columns: 10fr 2fr;
    gap: 60px;
    justify-content: space-between;

}
.image{
    /*position: absolute;*/
    margin-top: -4%;
   /* margin-left: 0%;*/
    float: right;
    margin-right: 2%;
}
h1{
    text-align: center;
    color: black;
}

h2{
    color: rgb(77, 7, 7);
}
h3{
    color: rgb(105, 28, 28);
}

footer p{
    text-align: center;
    /*color: gold;*/
}

a{
    text-align: center;
}

.bottom{
    text-align: center;
}

.bottom a{
    color: rgb(239, 154, 7);
}
.plan-button{
    color: black;
    /*background-color: rgb(53, 16, 185);*/
    border-radius: 10px;
    padding: 5px;
    border: none;
}

.skills h3{
    text-align: center;
}

.about{
 margin-left: 2%;
}